
<!DOCTYPE html>
<html>
<head>
    <!--[if lt IE 9]>
        <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <link rel="stylesheet" type="text/css" media="all" href="../css/styleIE.css" />
    <![endif]-->

    <!--[if IE 8 | IE 9]>
    <link href="/event/GhostMonth/css/mainIE.css" rel="stylesheet" />
    <![endif]-->
    <meta charset="UTF-8">    
    <title>SETN三立新聞網APP|宅家不怕無聊K劇K歌K人誰要來K一夏？| 三立新聞網 SETN.COM</title>
    <meta name="Title" content=" SETN三立新聞網APP│K劇K歌K人誰要來K一夏？| 三立新聞網 SETN.COM" />
    <meta name="Description" content="下載三立新聞網APP天天答題天天抽測你是腦袋大還是腦洞大快把好禮帶回家" />
    <meta name="Keywords" content="APP活動,抽獎,戲劇,韓劇,三級警戒,解封,唱歌,金鐘獎,主題曲,做工的人,火神的眼淚,三立新聞網,SETN" />
    <meta property="og:title" content="SETN三立新聞網APP|K劇K歌K人誰要來K一夏？" />
    <meta property="og:description" content="下載三立新聞網APP天天答題天天抽測你是腦袋大還是腦洞大快把好禮帶回家| 三立新聞網 SETN.COM " />
    <meta property="og:image" content="" />
    <meta property="og:url" content=" " />
    <link rel="canonical" href=" " />        
    <link rel="shortcut icon" href="https://www.setn.com/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="format-detection" content="telephone=no">
    <meta property="og:image" content="https://acts.setn.com/event/2021summerking/images/fbShare.png" />
    <meta property="og:image:type" content="image/png" />
    <meta property="og:image:width" content="1800">
    <meta property="og:image:height" content="945">
    <meta property="og:url" content="https://acts.setn.com/event/2021summerking/images/fbShare.png" />
    
    <!--    匯入jQuery    -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="css/reset.css">
    <link rel="stylesheet" type="text/css" href="css/style.css"/> 
    <link rel="stylesheet" type="text/css" href="css/timer.css" />
    <link rel="stylesheet" type="text/css" href="css/animate.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.css">
    <link href="https://www.setn.com/resources/OwlCarousel2-2.3.4/assets/owl.carousel.min.css" rel="stylesheet" />
    <link href="https://www.setn.com/resources/OwlCarousel2-2.3.4/assets/owl.theme.default.min.css" rel="stylesheet" />

    <script type="text/javascript" src="js/facebook.js"></script>

       

    <!-- Start Alexa Certify Javascript -->
    <script type="text/javascript">
    _atrk_opts = { atrk_acct:"dMuYi1a8Dy00yP", domain:"setn.com",dynamic: true};
    (function() { var as = document.createElement('script'); as.type = 'text/javascript'; as.async = true; as.src = "https://d31qbv1cthcecs.cloudfront.net/atrk.js"; var s = document.getElementsByTagName('script')[0];s.parentNode.insertBefore(as, s); })();
    </script>
    <noscript><img src="https://d5nxst8fruw4z.cloudfront.net/atrk.gif?account=dMuYi1a8Dy00yP" style="display:none" height="1" width="1" alt="" /></noscript>
    <!-- End Alexa Certify Javascript -->
    <!-- Begin comScore Tag -->
    <script>
      var _comscore = _comscore || [];
      _comscore.push({ c1: "2", c2: "20617561" });
      (function() {
        var s = document.createElement("script"), el = document.getElementsByTagName("script")[0]; s.async = true;
        s.src = (document.location.protocol == "https:" ? "https://sb" : "http://b") + ".scorecardresearch.com/beacon.js";
        el.parentNode.insertBefore(s, el);
      })();
    </script>
    <noscript>
      <img src="https://b.scorecardresearch.com/p?c1=2&c2=20617561&cv=2.0&cj=1" />
    </noscript>
    <!-- End comScore Tag -->
    <!-- Start GA Certify Javascript -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-37193510-5', 'auto');
      ga('send', 'pageview');
    </script> 

    <script>
      $(function () {  
          $('.noticeBtn').click(function (event) {
              event.preventDefault();
              $('.noticeArea,.maskBg,.close').css({ 'display': 'block' });
          });  
          $('.infoBtn').click(function (event) {
              event.preventDefault();
              $('.infoArea,.maskBg,.close').css({ 'display': 'block' });
          });  
          $('.appBtn').click(function (event) {
              event.preventDefault();
              $('.appArea,.maskBg,.close').css({ 'display': 'block' });
          }); 
          $('.dailyPrizeBtn').click(function (event) {
              event.preventDefault();
              $('.dailyPrizeArea,.maskBg,.close').css({ 'display': 'block' });
          });             
          $('.close,.maskBg').click(function () {
              $('.maskBg,.close,.noticeArea,.infoArea,.appArea,.dailyPrizeArea,.winnerArea').fadeOut(200);
          });          
      });
    </script>  

</head>
<body class="fontSize">
<h1>宅家不怕無聊K劇K歌K人誰要來K一夏？</h1>

<!-- 得獎名單 -->
        <div class="noticeArea winnerArea">
            <div class="boxBorder">
                <a class="close"><img src="images/close.png" alt=""></a>
                <div class="winnerTitle">得獎名單</div>
                <div class="ending">感謝您的熱情參與，活動已結束<br>本活動將以「手機號碼」、「Email」進行<br>後續中獎通知敬請中獎者留意！</div>
                <div class="winnerCon">  
                    <div class="winnerList">
                      <div class="winnerItem">K+之王</div>
                      <div class="winnerPrize">【行動KTV必備美聲歡唱組合】＜1名＞<br>idol K8 PRO最強美聲麥克風+MUZEN OTR Metal經典復刻藍牙音響收音機<br>
                        <span class="name">185241謝*諺</span>
                      </div>
                    </div> 

                    <div class="winnerList">
                      <div class="winnerItem">A咖獎</div>
                      <div class="winnerPrize">A'CHRON極緻尊榮空中SPA＜1名＞<br>
                        <span class="name">201456CH**W*I</span>
                      </div>
                    </div>

                    <div class="winnerList">
                      <div class="winnerItem">B咖獎</div>
                      <div class="winnerPrize">思必兒抗菌噴霧+TT波特嫚面膜一盒組＜5名＞<br>
                        <span class="name">202149黃*文　201480張*慧　153471郭*宜　204021楊*莉　198432楊*涵</span>
                      </div>
                    </div>

                    <div class="winnerList">
                      <div class="winnerItem">掰咖獎</div>
                      <div class="winnerPrize">SWISSFORCE美腿霜+淨白精華組合＜5名＞<br>
                        <span class="name">202413謝*珈　203184卓*容　122064鄒*彥　199086楊*琪　144786Re*ee E* C**n</span>
                      </div>
                    </div>

                    <div class="winnerList">
                      <div class="winnerItem">腦袋最大獎</div>
                      <div class="winnerPrize">【SWISSPA精選人氣保養組】＜3名＞<br>360度膠原眼部精華+奇肌賦活2號霜<br>
                        <span class="name">203301邱*相　169743黃*晴　181860鄭*云</span>
                      </div>
                    </div>


                </div>
            </div>
        </div>
        <div class="maskBg maskBg2"></div>

<div id="fb-root"></div>
<div id="app" v-cloak>
<div class="visualArea">
  <div class="visualTop flexbox">
    <div class="logo"><a href="https://www.setn.com" target="_blank"><img src="images/logo.png"></a></div>
    <div class="visualTopRight">
      <div><a href="#prizeArea">獎項</a></div>
      <div class="infoBtn">活動辦法</div>
      <div class="noticeBtn">注意事項</div>
      <div class="shareBox">
        <div>
            <a href="javascript: void(0);"
               class="fb_share"
               data-refer="2021summerking"
               data-hashtag="#宅家不怕無聊K劇K歌K人誰要來K一夏？"
               data-href="https://acts.setn.com/event/2021summerking/landing.html">
                <img src="images/fb.png" alt="">
            </a>
        </div>
        <div>
            <a href="http://line.naver.jp/R/msg/text/?宅家不怕無聊K劇K歌K人誰要來K一夏？
            %0D%0Ahttps://acts.setn.com/event/2021summerking/landing.html" target="_blank">
                <img src="images/line.png" alt="">
            </a>
        </div>
      </div>
    </div>
  </div>
  <div class="visualBtm">
    <a href="#gameArea" class="btn btn1"></a>
    <div class="appBtn btn btn2"></div>
  </div>
</div>

<div id="gameArea" class="gameArea">  
  <div class="gameTitle"><img src="images/gameTitle.png"></div>
  <div class="infoBox">
    <div class="info"><img src="images/info.png"></div>
    <div class="infoWords">請從線索提示中猜出正確答案，答題完成即享有抽獎資格！如果想破頭還是猜不出來，就使用快速通關『PASS』或快跟親朋好友『求救』吧！<br><span>準備好要K什麼了嗎？let's go!</span></div>
  </div>
  <div class="gameBox">
    <div @click="play(1)"><img src="images/ice1.png"></div>
    <div @click="play(2)"><img src="images/ice2.png"></div>
    <div @click="play(3)"><img src="images/ice3.png"></div>
  </div>
</div>

<div><img src="images/bg2.jpg"></div>

<div id="prizeArea" class="prizeArea">
  <div class="gameTitle"><img src="images/prizeTitle.png"></div>
  <div class="prizeBox">

    <div class="prizeCon">
      <div class="prizeConTitle">你多戲劇話獎項</div>
      <div class="prizeItem">
        <a href=""><img src="images/prize1.png"></a>
        <a href=""><img src="images/prize2.png"></a>
        <a href=""><img src="images/prize3.png"></a>
        <a href=""><img src="images/prize4.png"></a>
      </div>
    </div>

    <div class="prizeCon">
      <div class="prizeConTitle">腦洞有多大獎項</div>
      <div class="prizeItem">
        <a href=""><img src="images/prize5.png"></a>
        <a href=""><div class="dailyPrizeBtn"><img src="images/prize6.png"></div></a>
      </div>
    </div>

  </div>
</div>

<!-- 咖啡 -->
<div class="coffeeArea" @click.prevent = "coffeeInputShow()">
    <div><img src="images/coffee.gif"></div>
</div>

<!-- 咖啡有在時段 -->
<div class="gameoverArea" v-show = "coffee.inputshow == 1">
    <div class="boxBorder coffeeAreaH">
        <a class="closeplay" @click.prevent = "coffeeShow()"><img src="images/close.png" alt=""></a>
        <div class="coffeeTitle">你的限煮時咖啡師<br>中午12點-下午4點上線</div>
        <div>請輸入你的活動編號<br>即有機會免費喝咖啡<br>『提醒：中獎通知由e-mail發送，<br>請務必將會員資料完整填寫』</div>
        <input type="" name="" v-model = "user.id">                
        <div class="btnBox">
          <div @click.prevent="start(2)">確認抽獎</div>
        </div>
        <div class="where" @click.prevent="event_member()">活動編號在哪裡?</div>
    </div>
</div>
<div class="playmaskBg" v-show = "coffee.inputshow == 1"></div>

<!-- 咖啡沒在時段 -->
<div class="gameoverArea" v-show = "coffee.inputshow == 5">
    <div class="boxBorder coffeeAreaH">
        <a class="closeplay" @click.prevent = "coffeeShow()"><img src="images/close.png" alt=""></a>
        <div class="coffeeTitle">你的限煮時咖啡師<br>中午12點-下午4點上線</div>
        <div>想要來杯咖啡，<br>
            記得準時來卡位唷～
        </div>
        <div class="btnBox">
            <div @click.prevent = "coffeeShow()">好，我知道了</div>
          </div>
      </div>
</div>
<div class="playmaskBg" v-show = "coffee.inputshow == 5"></div>

<!-- 咖啡中獎 -->
<div class="gameoverArea" v-show = "coffee.inputshow == 2">
    <div class="boxBorder coffeeAreaH">
        <a class="closeplay" @click.prevent = "coffeeShow()"><img src="images/close.png" alt=""></a>
        <div>
            <img :src = "cardImage" style="width:60%;margin: 0 auto;">
        </div>
        <div class="coffeeTitle">恭喜您幸運中獎！</div>
        <div>電子咖啡券將於活動結束後，<br>
            發送到您填寫的e-mail，<br>
            請您耐心等候！<br>
            明天同一時間！限煮時咖啡師準時上線，記得回來喝杯咖啡唷～
            </div>
        <div class="btnBox">
          <div @click.prevent = "coffeeShow()">好，明天見</div>
        </div>
    </div>
</div>
<div class="playmaskBg" v-show = "coffee.inputshow == 2"></div>

<!-- 咖啡沒中 -->
<div class="gameoverArea" v-show = "coffee.inputshow == 3">
    <div class="boxBorder coffeeAreaH">
        <a class="closeplay" @click.prevent = "coffeeShow()"><img src="images/close.png" alt=""></a>
        <div class="coffeeTitle">限量咖啡完售啦！</div>
        <div>想要來杯咖啡，明天同一時間！<br>限煮時咖啡師中午12點準時上線，<br>記得早點來卡位唷～</div>
        <div class="btnBox">
            <div @click.prevent = "coffeeShow()">好，明天見</div>
        </div>
    </div>
</div>
<div class="playmaskBg" v-show = "coffee.inputshow == 3"></div>

<!-- 咖啡沒郵件 -->
<div class="gameoverArea" v-show = "coffee.inputshow == 4">
    <div class="boxBorder coffeeAreaH">
        <a class="closeplay" @click.prevent = "coffeeShow()"><img src="images/close.png" alt=""></a>
        <div class="coffeeTitle">咦？資料不完整！</div>
        <div>您的e-mail是否忘記填寫囉，<br>
            請至APP會員個人介面完成設定，<br>如中獎才能順利領取咖啡券唷！</div>
        <div class="btnBox">
            <div>
              <a href="https://acts.setn.com/app/" target="_blank">好，我知道了</a>
            </div>
        </div>
    </div>
</div>
<div class="playmaskBg" v-show = "coffee.inputshow == 4"></div>

<!-- 腦洞有多大 -->
        <div class="appArea">
            <div class="boxBorder">
                <a class="close"><img src="images/close.png" alt=""></a>
                <div class="noticeTitle"><img src="images/appTitle.png"></div>
                <div class="stepCon">
                  <p>連續21天不斷電，登入三立新聞網APP，每天中午12點回答問題，<span class="eventWords">答題中獎率高達100%!</span>天天抽3名幸運兒！活動期間答題滿7天再享，<span class="eventWords">腦袋最大獎</span>抽獎機會！</p>
                  <div class="startBtn"><a href="https://acts.setn.com/app/" target="_blank">立即答題</a></div>
                  <div class="stepBox">
                    <div class="infoCarousel owl-carousel owl-theme">
                      <div class="item">
                        <div class="stepWord">點擊左上漢堡或上方活動廣告</div>
                        <div><img src="images/summer1.png"></div>                        
                      </div>
                      <div class="item">
                        <div class="stepWord">亦可從會員活動頁進入</div>
                        <div><img src="images/summer2.png"></div>                        
                      </div>
                      <div class="item">
                        <div class="stepWord">閱畢題目，按下“參加抽獎”回答問題</div>
                        <div><img src="images/summer3.png"></div>                        
                      </div>
                      <div class="item">
                        <div class="stepWord">記得個人資料要留完整才能抽獎唷！</div>
                        <div><img src="images/summer4.png"></div>                        
                      </div>
                    </div>
                  </div>
                </div>

            </div>
        </div>

<!-- 活動辦法 -->
        <div class="infoArea">
            <div class="boxBorder">
                <a class="close"><img src="images/close.png" alt=""></a>
                <div class="noticeTitle"><img src="images/infoTitle.png"></div>
                <ul>  
                    <li>活動時間：即日起至2021年8月15日晚間23:59止。</li>
                    <li>得獎公告：2021年8月20日公告於原活動網站。</li>
                    <li>活動說明：</li>
                    <li class="eventWords">＃你多戲劇話</li>
                    <li>於活動期間，可自由選擇題型進行答題，並從線索區的提示中回答出正確答案即享有抽獎資格，獎項分級依答題正確題數為主。</li>
                    <li>答題完成後，請務必填寫會員活動編號參加抽獎，若因資料填寫未盡以致中獎時無法通知、逾期及資料缺漏者，視同放棄得獎資格。</li>
                    <li class="eventWords">＃腦洞有多大</li>
                    <li>1.活動期間內，每日有３次答題機會，天天可答題，打開APP馬上抽獎！</li>
                    <li>2.參加者需下載三立新聞網 APP更新至最新版本且加入會員。</li>
                    <li>3.每日中午更新題目，正確回答問題者即獲得抽獎資格。日抽獎為隔日公布(假日順延)，其餘獎項則統一於活動結束後公布。</li>
                    <li>4.答題完成後，請記得至會員專區填寫完整聯絡資訊，填寫未盡以致中獎時無法通知、逾期及資料缺漏者，視同放棄得獎資格。</li>  
                    <li class="eventWords">特別提醒：</li> 
                    <li>1.本活動是透過您於三立新聞網APP會員中心所填寫之「手機號碼」、「e-mail」進行後續中獎通知，請務必自行完成會員資料，若資料不全造成主辦單位無法寄發中獎通知，視同自動放棄資格，不另補發。</li> 
                    <li>2.參加本活動，視為同意本公司得將台端個人資料作為活動利用，所有贈品皆以實物為準。</li>
                    <li>3.主辦單位保有更動活動內容之權利，若有任何關於活動的最新消息，將於活動官網更新，以上活動事項如有未盡事宜，主辦單位得隨時修訂之，恕不另行通知。</li>
                </ul>
            </div>
        </div>

<!-- 注意事項 -->
        <div class="noticeArea">
            <div class="boxBorder">
                <a class="close"><img src="images/close.png" alt=""></a>
                <div class="noticeTitle"><img src="images/noticeTitle.png"></div>
                <ul>  
                    <li>
                      1.請務必下載<a href="https://acts.setn.com/app/" target="_blank">《三立新聞網》</a>APP並完成會員資料填寫。本活動所獲得之個人資料僅用於聯繫、商品寄送等用途，參加者同意授權予三立新聞網活動頁所需之個人資料，並同意主辦單位管理本活動、加入三立新聞網APP會員使用。
                    </li>
                    <li>2.每個會員限參加乙次抽獎。</li>
                    <li>3.本活動除了「票券類」獎項由主辦單位以掛號信件寄出之外；其餘獎項皆請得獎者自付運費(宅配貨到付款)，或至本公司親領（台北市內湖區舊宗路一段159號三立新聞網－誰來Ｋ一夏活動小組）。票券類使用注意事項、效期及條件除有特別約明外，概依該票券發行單位之規定為主，本公司無須負擔相關責任。
                    </li>
                    <li>
                      4.本活動之活動辦法及相關注意事項均載明於活動網頁中，參加者於參加本活動之同時，即視為已詳閱並同意接受本活動之活動辦法及相關注意事項之規範，如有違反本活動之活動辦法及相關注意事項之行為，主辦單位或三立新聞網除得取消其參加或得獎資格外，並對於任何破壞本活動之行為保留相關權利。
                    </li>
                    <li>5.參加者應保證其因參加本活動所填寫或提出之資料均為真實且正確，且未冒用或盜用任何第三人之資料。一經主辦單位或三立新聞網發現或經第三人檢舉該等資料有不實或不正確之情事，主辦單位或三立新聞網得取消其參加或得獎資格。若因此致主辦單位或三立新聞網無法通知其得獎訊息時，主辦單位及三立新聞網不負任何責任，如主辦單位或三立新聞網或其他任何第三人因此而受有損害，參加者應負一切相關責任。
                    </li>
                    <li>6.依稅法規定，得獎價值超過新台幣1,000元（含）以上者，需繳交身分證影本報稅使用，贈品價值超過新台幣20,000元以上，依法須負擔10%機會中獎稅，並於次年度寄發所得稅扣(免)繳憑單；若非中華民國國境內居住之國人（即在中華民國境內居住未達183天之本國人及外國人），不論得獎人所得之金額，須就中獎所得扣繳20%機會中獎稅，扣繳稅款未超過2,000元，免扣繳（外籍人士不適用）；未滿14歲兒童中獎，視同監護人中獎，由監護人代為領取。得獎者須提供身分證正反面影本供核對備查使用，若得獎人不願意提供資料，則視同放棄得獎資格。
                    </li>
                    <li>7.本活動所涉及之相關資料及記錄，均以主辦單位或三立新聞網電腦系統所記錄或留存者為準。</li>
                    <li>8.獎品以實物為準，不得折換現金。如遇產品缺貨或不可抗力之事由，主辦單位有權變更獎品內容，並改由其他等值商品取代，得獎者不得異議。且主辦單位與活動單位就該獎品不負任何維修及保固責任。</li>
                    <li>9.本活動獎品寄送地區僅限台灣地區(包含本島、金門、澎湖、馬祖及台灣政府行政權所及之其他地區)，恕無法寄送至海外。</li>
                    <li>10.相關活動公告皆以活動網站公告為主，恕不另行通知。主辦單位保有修正、暫停或終止本活動之權利。</li>
                    <li>11.本公司(三立電視)員工不得參加本活動。</li>                    
                </ul>
            </div>
        </div>
        <div class="maskBg"></div>


  <!-- K劇 -->

    <div class="gameStartArea" v-show = "game.gameSpecies == 1">
      <div class="boxBorder">
          <a class="closeplay" @click.prevent = "replay()"><img src="images/close.png" alt=""></a>
          <div class="gameCon">
            <div class="gameBgT"><img src="images/gameBg1t.png"></div>
            <div class="gameBg">
              <div class="gameKK">
                <div class="clue">
                  <div class="clueWord">線索</div>
                  <div><span>{{ game.round + 1 }}</span>/{{game.config.round }}</div>
                </div>
                <div class="clueBox">
                  <div v-for="(tip, i) in tips">
                    {{ tip }}
                  </div>
                </div>
                <div class="answerBox flexbox flexCenter unselectable animate__animated"
                :class="matchAnimation" @animationend="delay(nextRound)">
                  <div class="answer animate__animated" v-for="(needle, i) in needles"
                  :class="{animate__flash: needle.isDiff}" @click="removeNeedle(i)"
                  @animationend="needle.isDiff = false;">
                  {{ needle.word }}
                </div>
                </div>                
                <div class="guessCon">
                  <p>請由下方文字選出正確劇名</p>
                <div class="guessWordBox flexbox flexCenter unselectable">
                    <div class="guessWord" v-for="(needle, i) in haystack" @click="pick(i)">
                        {{ needle }}
                    </div>
                </div>
                </div>
                <div class="btnBox">
                  <div @click="express('EXPRESS_PASS')"
                  :class="{disableButton: !hasExpressQuota('EXPRESS_PASS')}">PASS</div>
                  <div @click="express('EXPRESS_SHARE')"
                  :class="{disableButton: !hasExpressQuota('EXPRESS_SHARE')}">求救</div>
                </div>
              </div>
            </div>
            <div class="gameBgT"><img src="images/gameBg1b.png"></div>
          </div>
        
      </div>
      
    </div>
    <div class="playmaskBg" v-show = "game.gameSpecies == 1"></div>


<!-- K歌 -->

    <div class="gameStartArea" v-show = "game.gameSpecies == 2">
      <div class="boxBorder">
        <a class="closeplay" @click.prevent = "replay()"><img src="images/close.png" alt=""></a>
          <div class="gameCon">
            <div class="gameBgT"><img src="images/gameBg2t.png"></div>
            <div class="gameBg">
              <div class="gameKK">
                <div class="clue">
                  <div class="clueWord">線索</div>
                  <div><span>{{ game.round + 1 }}</span>/{{game.config.round }}</div>
                </div>
                <div class="clueBox">
                    <div class="kp">
                        <img v-if="game.gameSpecies == 2" :src="tips" alt="">
                        <img v-else>
                  </div>
                </div>
                <div class="answerBox flexbox flexCenter unselectable animate__animated"
                :class="matchAnimation" @animationend="delay(nextRound)">
                  <div class="answer animate__animated" v-for="(needle, i) in needles"
                  :class="{animate__flash: needle.isDiff}" @click="removeNeedle(i)"
                  @animationend="needle.isDiff = false;">
                  {{ needle.word.slice(0,1) }}
                </div>
                </div>                
                <div class="guessCon">
                  <p>請由下方選項選出正確歌詞</p>
                  <div class="guessBox guessBox2 flexbox flexCenter unselectable">
                    <div v-for="(needle, i) in haystack" @click="pick(i)">
                        {{ needle }}
                    </div>
                  </div>
                </div>
                <div class="btnBox">
                    <div @click="express('EXPRESS_PASS')"
                    :class="{disableButton: !hasExpressQuota('EXPRESS_PASS')}">PASS</div>
                    <div @click="express('EXPRESS_SHARE')"
                    :class="{disableButton: !hasExpressQuota('EXPRESS_SHARE')}">求救</div>
                  </div>
              </div>
            </div>
            <div class="gameBgT"><img src="images/gameBg1b.png"></div>
          </div>
        
      </div>
      
    </div>
    <div class="playmaskBg" v-show = "game.gameSpecies == 2"></div>



<!-- K人 -->

    <div class="gameStartArea" v-show = "game.gameSpecies == 3">
      <div class="boxBorder">
        <a class="closeplay" @click.prevent = "replay()"><img src="images/close.png" alt=""></a>
          <div class="gameCon">
            <div class="gameBgT"><img src="images/gameBg3t.png"></div>
            <div class="gameBg">
              <div class="gameKK">
                <div class="clue">
                  <div class="clueWord">線索</div>
                  <div><span>{{ game.round + 1 }}</span>/{{game.config.round }}</div>
                </div>
                <div class="clueBox">
                    <div class="kp">
                        <img v-if="game.gameSpecies == 3" :src="tips" alt="">
                        <img v-else>
                  </div>
                </div>
                <div class="answerBox flexbox flexCenter unselectable animate__animated"
                :class="matchAnimation" @animationend="delay(nextRound)">
                  <div class="answer animate__animated" v-for="(needle, i) in needles"
                  :class="{animate__flash: needle.isDiff}" @click="removeNeedle(i)"
                  @animationend="needle.isDiff = false;">
                  {{ needle.word.slice(0,1) }}
                </div>
                </div>                   
                <div class="guessCon">
                  <p>請問上方劇照主角的名子?</p>
                  <div class="guessBox guessBox2 flexbox flexCenter unselectable">
                    <div v-for="(needle, i) in haystack" @click="pick(i)">
                        {{ needle }}
                    </div>
                  </div>
                </div>
                <div class="btnBox">
                    <div @click="express('EXPRESS_PASS')"
                    :class="{disableButton: !hasExpressQuota('EXPRESS_PASS')}">PASS</div>
                    <div @click="express('EXPRESS_SHARE')"
                    :class="{disableButton: !hasExpressQuota('EXPRESS_SHARE')}">求救</div>
                  </div>
              </div>
            </div>
            <div class="gameBgT"><img src="images/gameBg1b.png"></div>
          </div>
        
      </div>
      
    </div>
    <div class="playmaskBg" v-show = "game.gameSpecies == 3"></div>

    <div :class="timerCtrl" @animationend="timeUp()"></div>
<!-- 遊戲結束 -->

<div class="gameoverArea" v-show = "game.playState == 4">
            <div class="boxBorder gameoverHeight">
                <a class="closeplay" @click.prevent = "closepop()"><img src="images/close.png" alt=""></a>
                <div class="noticeTitle"><img src="images/completeTitle.png"></div>
                <div>請輸入你的活動編號參加抽獎</div>
                <input type="" name="" v-model = "user.id">                
                <div class="btnBox">
                  <div @click.prevent="start(1)">確認抽獎</div>
                </div>
                <div class="where" @click.prevent="event_member()">活動編號在哪裡?</div>
            </div>
        </div>
        <div class="playmaskBg" v-show = "game.playState == 4"></div>


<!-- 活動編號在哪? -->

<div class="gameoverArea" v-show = "game.eventMember == 1">
            <div class="boxBorder">
                <a class="closeplay" @click.prevent = "closeevent_member()"><img src="images/close.png" alt=""></a>
                <div class="noticeTitle"><img src="images/whereTitle.png"></div>
                <div>Q:活動編號在哪裡？<br>下載三立新聞網APP後，點選左上方漢堡圖示進入個人頁面，即可找到專屬活動編號囉！<br>
『請更新最新版本APP』</div>
                <div class="wherePic"><img src="images/number.jpg"></div>
                <div class="btnBox">
                  <div><a href="https://acts.setn.com/app/" target="_blank">立即下載</a></div>
                </div>
            </div>
        </div>
        <div class="playmaskBg" v-show = "game.eventMember == 1"></div>



<!-- 成績出爐 -->

<div class="gameoverArea" v-show = "game.playState == 5">
            <div class="boxBorder">
                <a class="closeplay" @click.prevent = "closepop()"><img src="images/close.png" alt=""></a>
                <div class="noticeTitle"><img src="images/scoreTitle.png"></div>
                <div>原來你是</div>
                <div class="gameoverW">{{ game.text }}</div>
                <ul>  
                    <li>-正確答案-</li>
                    <li v-for="(correct, i) in game.isCorrect">{{ i+1 }}.{{ correct }},<span v-for="(needles, j) in game.puzzles[i].needles">{{ needles.word }}</span></li>                    
                </ul>
                <div class="btnBox">
                  <div class="appBtn">K腦袋</div>
                  <div @click="shareMyScore()">K朋友</div>
                </div>
            </div>
        </div>
        <div class="playmaskBg" v-show = "game.playState == 5"></div>


<!-- 天天獎項 -->
<div class="gameoverArea dailyPrizeArea">
            <div class="boxBorder">
                <a class="close"><img src="images/close.png" alt=""></a>
                <div class="dailyPrizeTitle"><img src="images/dailyPrizeTitle.png"></div>
                
                <div class="dailyPrizeBox"> 

                  <div class="dailyItem">
                    <div class="dailyItemName"><span class="date">7/26</span>TT波特嫚黑珍珠亮透靚白黑面膜(二入裝)<span class="quota">(3名)</span></div>
                    <div class="dailyWinner">
                      得獎者：156975江*箴&ensp;/&ensp;152955王*棟&ensp;/&ensp;202083王*興
                    </div>
                  </div>

                  <div class="dailyItem">
                    <div class="dailyItemName"><span class="date">7/27</span>TTM 向日葵活力光采乳霜精華<span class="quota">(3名)</span></div>
                    <div class="dailyWinner">
                      得獎者：178626曾*濱&ensp;/&ensp;198486陳*彥&ensp;/&ensp;198492彭*君
                    </div>
                  </div> 

                  <div class="dailyItem">
                    <div class="dailyItemName"><span class="date">7/28</span>Noblesse大貴鏃鈦金三德刀7吋<span class="quota">(3名)</span></div>
                    <div class="dailyWinner">
                      得獎者：202173梁*貞&ensp;/&ensp;70083邱*杰&ensp;/&ensp;153555林*豪
                    </div>
                  </div>

                  <div class="dailyItem">
                    <div class="dailyItemName"><span class="date">7/29</span>vidol夯劇隨你看七天超值方案<span class="quota">(3名)</span></div>
                    <div class="dailyWinner">
                      得獎者：200907林*惠&ensp;/&ensp;180909滕*蘭&ensp;/&ensp;201669林*徵
                    </div>
                  </div>

                  <div class="dailyItem">
                    <div class="dailyItemName"><span class="date">7/30</span>TTM 向日葵活力光采乳霜精華<span class="quota">(3名)</span></div>
                    <div class="dailyWinner">
                      得獎者：199530李*豐&ensp;/&ensp;198972王*萱&ensp;/&ensp;200292楊*瑛
                    </div>
                  </div> 

                  <div class="dailyItem">
                    <div class="dailyItemName"><span class="date">7/31</span>鍋寶SODAMASTER+萬用氣泡水機<span class="quota">(3名)</span></div>
                    <div class="dailyWinner">
                      得獎者：202848趙*敏&ensp;/&ensp;202773高*芙&ensp;/&ensp;202626黃*婷
                    </div>
                  </div>

                  <div class="dailyItem">
                    <div class="dailyItemName"><span class="date">8/1</span>遠東SOGO百貨600元即享券<span class="quota">(3名)</span></div>
                    <div class="dailyWinner">
                      得獎者：157392方*彬&ensp;/&ensp;153540陳*玲&ensp;/&ensp;19701蔡*芳
                    </div>
                  </div>

                  <div class="dailyItem">
                    <div class="dailyItemName"><span class="date">8/2</span>TT波特嫚黑珍珠亮透靚白黑面膜(二入裝)<span class="quota">(3名)</span></div>
                    <div class="dailyWinner">
                      得獎者：203385周*謙&ensp;/&ensp;203397林*理&ensp;/&ensp;200466廖*雲
                    </div>
                  </div> 

                  <div class="dailyItem">
                    <div class="dailyItemName"><span class="date">8/3</span>TTM 向日葵活力光采乳霜精華<span class="quota">(3名)</span></div>
                    <div class="dailyWinner">
                      得獎者：86088陳*涵&ensp;/&ensp;88005洪*俊&ensp;/&ensp;151833陳*盆
                    </div>
                  </div>

                  <div class="dailyItem">
                    <div class="dailyItemName"><span class="date">8/4</span>Noblesse大貴鏃鈦金剁刀6.5吋<span class="quota">(3名)</span></div>
                    <div class="dailyWinner">
                      得獎者：130944陳*祥&ensp;/&ensp;201018劉*君&ensp;/&ensp;74007洪*君
                    </div>
                  </div>

                  <div class="dailyItem">
                    <div class="dailyItemName"><span class="date">8/5</span>vidol夯劇隨你看七天超值方案<span class="quota">(3名)</span></div>
                    <div class="dailyWinner">
                      得獎者：201900丁*儀&ensp;/&ensp;65970李*鋒&ensp;/&ensp;203298葉*萍
                    </div>
                  </div> 

                  <div class="dailyItem">
                    <div class="dailyItemName"><span class="date">8/6</span>TTM 向日葵活力光采乳霜精華<span class="quota">(3名)</span></div>
                    <div class="dailyWinner">
                      得獎者：5115林*鋐&ensp;/&ensp;200859許*翔&ensp;/&ensp;200214劉*彤
                    </div>
                  </div>

                  <div class="dailyItem">
                    <div class="dailyItemName"><span class="date">8/7</span>鍋寶SODAMASTER+萬用氣泡水機<span class="quota">(3名)</span></div>
                    <div class="dailyWinner">
                      得獎者：20778陳*安&ensp;/&ensp;200760王*友&ensp;/&ensp;201627沈*翎
                    </div>
                  </div>

                  <div class="dailyItem">
                    <div class="dailyItemName"><span class="date">8/8</span>遠東SOGO百貨600元即享券<span class="quota">(3名)</span></div>
                    <div class="dailyWinner">
                      得獎者：196566黃*憲&ensp;/&ensp;199803許*旻&ensp;/&ensp;94368詹*汝
                    </div>
                  </div>

                  <div class="dailyItem">
                    <div class="dailyItemName"><span class="date">8/9</span>TT波特嫚黑珍珠亮透靚白黑面膜(二入裝)<span class="quota">(3名)</span></div>
                    <div class="dailyWinner">
                      得獎者：179409Y*ng C**ng&ensp;/&ensp;13881李*琪&ensp;/&ensp;153822蔡*蓁
                    </div>
                  </div>

                  <div class="dailyItem">
                    <div class="dailyItemName"><span class="date">8/10</span>TTM 向日葵活力光采乳霜精華<span class="quota">(3名)</span></div>
                    <div class="dailyWinner">
                      得獎者：203619薛*淇&ensp;/&ensp;129027陳*嘉&ensp;/&ensp;71151張*萱
                    </div>
                  </div>

                  <div class="dailyItem">
                    <div class="dailyItemName"><span class="date">8/11</span>Noblesse大貴鏃鈦金主廚刀8吋<span class="quota">(3名)</span></div>
                    <div class="dailyWinner">
                      得獎者：109389蔡*進&ensp;/&ensp;138027邱*瑄&ensp;/&ensp;96066劉*吉
                    </div>
                  </div>

                  <div class="dailyItem">
                    <div class="dailyItemName"><span class="date">8/12</span>vidol夯劇隨你看七天超值方案<span class="quota">(3名)</span></div>
                    <div class="dailyWinner">
                      得獎者：55944葉*炫&ensp;/&ensp;179106林*仙&ensp;/&ensp;7842陳*源
                    </div>
                  </div>

                  <div class="dailyItem">
                    <div class="dailyItemName"><span class="date">8/13</span>TTM 向日葵活力光采乳霜精華<span class="quota">(3名)</span></div>
                    <div class="dailyWinner">
                      得獎者：142620詹*益&ensp;/&ensp;76299李*書&ensp;/&ensp;204030章*霞
                    </div>
                  </div>

                  <div class="dailyItem">
                    <div class="dailyItemName"><span class="date">8/14</span>鍋寶SODAMASTER+萬用氣泡水機<span class="quota">(3名)</span></div>
                    <div class="dailyWinner">
                      得獎者：205098張*琪&ensp;/&ensp;86661林*珠&ensp;/&ensp;77859黃*文
                    </div>
                  </div>

                  <div class="dailyItem">
                    <div class="dailyItemName"><span class="date">8/15</span>遠東SOGO百貨600元即享券<span class="quota">(3名)</span></div>
                    <div class="dailyWinner">
                      得獎者：88706簡*勳&ensp;/&ensp;139716洪*惠&ensp;/&ensp;202086蘇*慈
                    </div>
                  </div>

                </div>
                
            </div>
        </div>
        <div class="maskBg"></div>




  <footer class="mainFooter">©2021 Sanlih E-Television All Rights Reserved 版權所有 盜用必究 台北市內湖區舊宗路一段159號 02-8792-8888</footer>

<div id="gotop"></div>
</div>
<script type="text/javascript" src="js/vue.js"></script>
<script type="text/javascript" src="js/axios.min.js"></script>
<script type="text/javascript" src="js/facebook.min.js"></script>
<script type="text/javascript" src="js/index.js"></script>
<script src="https://www.setn.com/resources/OwlCarousel2-2.3.4/owl.carousel.min.js"></script>

</body>
</html>